@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a; /* brand-dark */
  color: white;
  font-family: 'Inter', sans-serif;
}

/* Hide scrollbar for app-like feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}